@model Product

<div class="details">
    <a class="item">
        <img src=@Model.ImageUrl height="220">
        <p>Id:@Model.Id</p>
        <p>Name:@Model.Name</p>
        <p>Price:@Model.Price</p>
    </a>
</div>